* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'iliya font';
    src: url('');
}

body {
    margin: 0;
    font-family: '';
    background-color: #f5f5f5;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    background-color: rgb(253, 252, 252);
    color:#222;
    border-bottom: 1px solid #ddd;
}
.logo{
    display: flex;
    gap: 19px;
}
nav a{
    text-decoration: none;
    padding-bottom: 2px;
    color: #333;
    padding: 11px;
    transition: 0.3;
}
nav a:hover{
    color: #000;
    border-bottom: 1px solid #000;
 
}
.search input{
    padding: 7px 14px;
    border: 1px solid #716e6e;
    border-radius: 4px;
    transition: 0.3s;
}
.search input:focus{
    outline: none;
    border-color: #666;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
}
/* mobile view */
@media (max-width : 768px){
    header{
        flex-direction: column;
        gap: 17px;
        text-align: center;
    }
    nav{
        flex-direction: column;
    }
    .search input{
        width: 90%;
        margin-top: 11px;
    }
}
